<div class="registration-form">

    <img class="image" src="assets\libsystem-logo.jpg" alt="Image">
    <h1>Libsystem</h1>

    <div class="registration-form-box">
        <form name="form" (ngSubmit)="register()" #registrationForm="ngForm" class="form">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="email" name="username" [(ngModel)]="model.username" #username="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required class="form-control text-input">
                <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                    <div *ngIf="username?.errors?.['required']" class="text-danger">Username is required</div>
                    <div *ngIf="username?.errors?.['pattern']" class="text-danger">Provide valid email address</div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required
                    minlength="8" maxlength="25" class="form-control text-input">
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                    <div *ngIf="password?.errors?.['required']" class="text-danger">Password is required</div>
                    <div *ngIf="password?.errors?.['minlength']" class="text-danger">Provided password is too short
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="firstName">First name</label>
                <input type="text" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required
                    class="form-control text-input">
                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
                    <div *ngIf="firstName?.errors?.['required']" class="text-danger">First name is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName">Last name</label>
                <input type="text" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required
                    class="form-control text-input">
                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
                    <div *ngIf="lastName?.errors?.['required']" class="text-danger">Last name is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="cardNumber">Card number</label>
                <input appNumericOnly type="text" name="cardNumber" [(ngModel)]="model.cardNumber" #cardNumber="ngModel"
                    required minlength="10" maxlength="10" class="form-control text-input">
                <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched)">
                    <div *ngIf="cardNumber?.errors?.['required']" class="text-danger">Card number is required</div>
                    <div *ngIf="cardNumber?.errors?.['minlength']" class="text-danger">Invalid card number length</div>
                </div>
            </div>

            <div class="form-group">
                <label for="peselNumber">PESEL number</label>
                <input appNumericOnly type="text" name="peselNumber" [(ngModel)]="model.peselNumber"
                    #peselNumber="ngModel" required minlength="11" maxlength="11" class="form-control text-input">
                <div *ngIf="peselNumber?.invalid && (peselNumber?.dirty || peselNumber?.touched)">
                    <div *ngIf="peselNumber?.errors?.['required']" class="text-danger">PESEL is required</div>
                    <div *ngIf="peselNumber?.errors?.['minlength']" class="text-danger">Invalid PESEL number length
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="!registrationForm.valid" class="btn button">Register</button>
                <div *ngIf="usernameTaken" class="text-danger">Username is already taken</div>
                <div *ngIf="cardNumberTaken" class="text-danger">Card number is already taken</div>
                <div *ngIf="cardNumberNotFound" class="text-danger">Card number is not registered</div>
                <div *ngIf="peselNumberNotAuthenticated" class="text-danger">PESEL number is not registered
                </div>
            </div>
        </form>

        <div class="divider">
            <hr class="my-3">
        </div>

        <div class="form-group">
            <button (click)="commonRedirectsService.redirectToLoginForm()" class="btn button redirect-buttons">Login with existing
                account</button>
        </div>
    </div>
</div>