<ng-container>
    <nav class="navbar navbar-expand-lg navbar-light main-navbar">
        <div class="container d-flex align-items-center">

            <img class="image" src="assets\libsystem-logo.jpg" alt="Image">
            <h1 class="navbar-brand">Libsystem</h1>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    
                    <li class="nav-item" *ngIf="loggedIn">
                        <a class="nav-link" href="/">{{ 'navigationMenu.home' | translate }}</a>
                    </li>

                    <li class="nav-item" *ngIf="loggedIn">
                        <a class="nav-link" href="/books">{{ 'navigationMenu.bookCatalogue' | translate }}</a>
                    </li>


                    <li class="nav-item dropdown" *ngIf="loggedIn">

                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                            {{ 'navigationMenu.userProfile' | translate }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="loggedIn">
                            <a class="dropdown-item" href="/user-profile">{{ 'navigationMenu.userDetails' | translate
                                }}</a>
                            <a class="dropdown-item" href="/user-profile/books">{{ 'navigationMenu.yourBooks' |
                                translate }}</a>
                            <a class="dropdown-item" href="/user-profile/favourites">{{ 'navigationMenu.favourites' |
                                translate }}</a>
                            <a class="dropdown-item" href="/user-profile/change-password">{{
                                'navigationMenu.changePassword' | translate }}</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown" *ngIf="userType === 'ADMIN' && loggedIn">

                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                            {{ 'navigationMenu.administration' | translate }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="loggedIn">
                            <a class="dropdown-item" href="/administration/books">{{ 'navigationMenu.orderedAndBorrowed'
                                | translate }}</a>
                            <a class="dropdown-item" href="/administration/users">{{ 'navigationMenu.users' | translate
                                }}</a>
                            <a class="dropdown-item" href="/administration/card-numbers">{{ 'navigationMenu.cardNumbers'
                                | translate }}</a>
                        </div>

                    </li>
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                            {{ 'navigationMenu.language' | translate }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <button [disabled]="language === 'en'" class="dropdown-item" (click)="setAppLanguage('en')">{{ 'navigationMenu.english'
                                | translate }}</button>
                            <button [disabled]="language === 'pl'" class="dropdown-item" (click)="setAppLanguage('pl')">{{ 'navigationMenu.polish' | translate
                                }}</button>
                        </div>

                    </li>
                    <li class="nav-item" *ngIf="loggedIn">
                        <a class="nav-link logout-link" (click)="commonRedirectsService.logout('normal')">{{
                            'navigationMenu.logOut' | translate }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</ng-container>