<div class="card-number-registered-form">
    <div class="card-number-registered-form-box">

        <div class="message-container">
            <p class="text-success">New card number has been successfully
                registered</p>
        </div>

        <div class="form-group">
            <button class="btn button" (click)="commonRedirectsService.redirectToCardNumbersList()">Back
                to card
                numbers
                list</button>
        </div>

    </div>
</div>