<div class="books-form">
    <div class="books-form-box">

        <h1>{{ 'navigationMenu.bookCatalogue' | translate }}</h1>

        <div class="divider">
            <hr class="my-3">
        </div>

        <form name="form" (submit)="getBooks()" #searchForm="ngForm">
            <div class="form-row">
                <div class="form-group">
                    <label for="title">{{ 'books.title' | translate }}</label>
                    <input type="text" name="title" [(ngModel)]="title" class="form-control text-input search-input">
                </div>

                <div class="form-group">
                    <label for="author">{{ 'books.author' | translate }}</label>
                    <input type="text" name="author" [(ngModel)]="author" class="form-control text-input search-input">
                </div>

                <div class="form-group">
                    <label for="publisher">{{ 'books.publisher' | translate }}</label>
                    <input type="text" name="publisher" [(ngModel)]="publisher"
                        class="form-control text-input search-input">
                </div>
            </div>

            <div class="year-group year-row">
                <label for="yearOfPrint">{{ 'books.yearOfPrint' | translate }}</label>
                <div class="input-group">
                    <div class="year-group">
                        <label for="startYear">{{ 'search.from' | translate }}:</label>
                        <input appNumericOnly type="text" name="startYear" [(ngModel)]="startYear"
                            class="form-control text-input search-input">
                    </div>
                    <div class="year-group">
                        <label for="endYear">{{ 'search.to' | translate }}:</label>
                        <input appNumericOnly type="text" name="endYear" [(ngModel)]="endYear"
                            class="form-control text-input search-input">
                    </div>
                </div>
            </div>
            
            <div class="checkbox-container">
                <div class="checkbox-group">
                    <label for="genres">{{ 'books.genres' | translate }}:</label>
                    <form name="genres">
                        <ng-container *ngFor="let selectedGenre of selectedGenres">
                            <input type="checkbox" name="myCheckbox" [(ngModel)]="selectedGenre.value"
                                class="form-check-input me-2">{{ this.translation.translateGenre(selectedGenre.label) }}
                            <br>
                        </ng-container>
                    </form>
                </div>

                <div class="checkbox-group">
                    <label for="affiliates">{{ 'books.affiliates' | translate }}:</label>
                    <form name="affiliates">
                        <ng-container *ngFor="let selectedAffiliate of selectedAffiliates">
                            <input type="checkbox" name="myCheckbox" [(ngModel)]="selectedAffiliate.value"
                                class="form-check-input me-2">{{ selectedAffiliate.label }}
                            <br>
                        </ng-container>
                    </form>
                </div>
            </div>


            <div class="form-container">
                <div class="form-group">
                    <label for="sortBy">{{ 'search.sortBy' | translate }}</label>
                    <select name="sortBy" [(ngModel)]="sortType" class="text-input form-select search-select">
                        <option value=""></option>
                        <option value="title">{{ 'books.title' | translate }}</option>
                        <option value="author">{{ 'books.author' | translate }}</option>
                        <option value="genre">{{ 'books.genre' | translate }}</option>
                        <option value="publisher">{{ 'books.publisher' | translate }}</option>
                        <option value="year">{{ 'books.yearOfPrint' | translate }}</option>
                        <option value="currentQuantity">{{ 'books.currentQuantity' | translate }}</option>
                        <option value="generalQuantity">{{ 'books.generalQuantity' | translate }}</option>
                        <option value="date">{{ 'books.addDate' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="sortDirection">{{ 'search.sortDirection' | translate }}</label>
                    <select name="sortDirection" [(ngModel)]="sortDirection"
                        class="text-input form-select search-select">
                        <option value=""></option>
                        <option value="asc">{{ 'search.ascending' | translate }}</option>
                        <option value="desc">{{ 'search.descending' | translate }}</option>
                    </select>
                </div>

                <button type="submit" class="btn button table-search-button search-button">{{ 'search.search' | translate }}</button>

            </div>
        </form>

        <div class="divider">
            <hr class="my-3">
        </div>

        <div class="pagination-container">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <button [disabled]="currentPage === 1 || noResultsFound" class="btn button pagination-button"
                            (click)="onPageChange(currentPage - 1)">←</button>
                    </li>
                    <li class="page-item">
                        <button
                            [disabled]="currentPage === pagination.getTotalPages(books, itemsPerPage) || noResultsFound"
                            class="btn button pagination-button" (click)="onPageChange(currentPage + 1)">→</button>
                    </li>
                </ul>
            </nav>
        </div>

        <table class="table table-hover common-table">
            <thead>
                <tr>
                    <th class="table-column">{{ 'books.title' | translate }}</th>
                    <th class="table-column">{{ 'books.authors' | translate }}</th>
                    <th class="table-column">{{ 'books.genres' | translate }}</th>
                    <th class="table-column">{{ 'books.affiliatesAndQuantity' | translate }}</th>
                    <th class="table-column">{{ 'books.publisher' | translate }}</th>
                    <th class="table-column">{{ 'books.yearOfPrint' | translate }}</th>
                    <th class="table-column">{{ 'books.addDate' | translate }}</th>
                    <th class="table-column"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let book of books.slice(pagination.getFirstItemIndex(currentPage, itemsPerPage), pagination.getLastItemIndex(currentPage, itemsPerPage, books) + 1)">
                    <td class="table-cell">{{ book.title }}</td>
                    <td class="table-cell">
                        <div *ngFor="let author of book.authors">
                            {{ author.name }}
                        </div>
                    </td>
                    <td class="table-cell">
                        <div *ngFor="let genre of book.genres">
                            {{ genre.name }}
                        </div>
                    </td>
                    <td class="table-cell">
                        <div *ngFor="let affiliate of book.affiliates">
                            {{ affiliate.name }} {{ commonBookMethodsService.getAffiliateBookQuantity(book,
                            affiliate.id) }}
                        </div>
                    </td>
                    <td class="table-cell">{{ book.publisherEntity.name }}</td>
                    <td class="table-cell">{{ book.yearOfPrintEntity.yearOfPrint }}</td>
                    <td class="table-cell">{{ book.addDate.split('T')[0] }}</td>
                    <td class="table-cell">
                        <a class="nav-item">
                            <li class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                data-bs-toggle="dropdown">
                                {{ 'common.options' | translate }}
                            </li>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <button class="dropdown-item" (click)="redirectToBookDetails(book.id)">{{ 'books.details' | translate }}</button>

                            </div>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <p *ngIf="noResultsFound" class="item-not-found-label text-danger">{{ 'books.noBooksFound' | translate }}</p>

    </div>
</div>