<div class="success-panel-form">
    <div class="success-panel-form-box">

        <div class="message-container">
            <p class="text-success" *ngIf="userEnabledStatusUpdated">Successfully disabled user with id {{ userId }}</p>
        </div>

        <div class="form-group">
            <button class="btn button" *ngIf="userEnabledStatusUpdated"
                (click)="commonRedirectsService.redirectToUsersList()">Back to
                users
                list</button>
        </div>
    </div>
</div>