<div class="success-panel-form">
    <div class="success-panel-form-box">
        <div class="message-container text-success">
            <p *ngIf="borrowedBookValidated">{{ 'borrowBook.borrowed1' | translate }}
            <p>{{ 'borrowBook.borrowed2' | translate }}</p>
            <p>{{ 'borrowBook.borrowed3' | translate }}</p>
        </div>

        <div class="form-group">
            <button class="btn button" *ngIf="borrowedBookValidated"
                (click)="commonRedirectsService.redirectToBookCatalogue()">{{ 'redirects.backToCatalogue' | translate }}</button>
        </div>
    </div>
</div>