<div class="table-form">
  <div class="table-form-box">

    <p class="text-success" *ngIf="bookReady">{{ 'orderedAndBorrowedBooks.orderReadySuccess' | translate }} {{
      borrowedBookId }}</p>
    <p class="text-success" *ngIf="bookAccepted">{{ 'orderedAndBorrowedBooks.orderAcceptSuccess' | translate }} {{
      borrowedBookId }}</p>
    <p class="text-success" *ngIf="bookRejected">{{ 'orderedAndBorrowedBooks.orderRejectSuccess' | translate }} {{
      borrowedBookId }}</p>
    <p class="text-success" *ngIf="bookReturned">{{ 'orderedAndBorrowedBooks.bookReturnSuccess' | translate }} {{
      borrowedBookId }}</p>

    <h1>{{ 'orderedAndBorrowedBooks.orderedAndBorrowedBooks' | translate }}</h1>

    <div class="divider">
      <hr class="my-3">
    </div>

    <div class="row">
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="table-order-buttons" role="group">
          <button class="btn button" [disabled]="showAccepted == true" (click)="setDisplayedStatus('Accepted')">{{
            'books.accepted' | translate }}</button>
          <button class="btn button" [disabled]="showExtended == true" (click)="setDisplayedStatus('Extended')">{{
            'books.extended' | translate }}</button>
          <button class="btn button" [disabled]="showExtension == true" (click)="setDisplayedStatus('Extension')">{{
            'books.extension' | translate }}</button>
          <button class="btn button" [disabled]="showClosed == true" (click)="setDisplayedStatus('Closed')">{{
            'books.closed' | translate }}</button>
          <button class="btn button" [disabled]="showReady == true" (click)="setDisplayedStatus('Ready')">{{
            'books.ready' | translate }}</button>
          <button class="btn button" [disabled]="showAll == true" (click)="setDisplayedStatus('All')">{{ 'common.all' |
            translate }}</button>
        </div>

        <div class="pagination-container">
          <nav>
            <ul class="pagination">
              <li class="page-item">
                <button [disabled]="currentPage === 1 || borrowedBookNotFound" class="btn button pagination-button"
                  (click)="onPageChange(currentPage - 1)">←</button>
              </li>
              <li class="page-item">
                <button
                  [disabled]="currentPage === pagination.getTotalPages(borrowedBooks, itemsPerPage) || borrowedBookNotFound"
                  class="btn button pagination-button" (click)="onPageChange(currentPage + 1)">→</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <form name="form" (submit)="getBorrowedBooks('All')" #searchForm="ngForm">
      <div class="search-container">
        <label for="searchType">{{ 'search.searchWith' | translate }}</label>
        <div class="search-input-group">
          <select name="searchType" [(ngModel)]="searchType" class="form-select search-select" id="searchTypeSelect">
            <option value="borrowedBookId">{{ 'books.orderID' | translate }}</option>
            <option value="userId">{{ 'users.userID' | translate }}</option>
            <option value="bookId">{{ 'books.bookID' | translate }}</option>
            <option value="cardNumber">{{ 'cardNumbers.cardNumber' | translate }}</option>
          </select>

          <input class="form-control text-input search-input" appNumericOnly type="text" name="searchValue"
            [(ngModel)]="searchValue">
          <button class="btn button table-search-button search-button" type="submit">{{ 'search.search' | translate
            }}</button>
        </div>
      </div>
    </form>

    <table class="table table-hover common-table">
      <thead>
        <tr>
          <th class="table-column">{{ 'books.orderID' | translate }}</th>
          <th class="table-column">{{ 'books.bookID' | translate }}</th>
          <th class="table-column">{{ 'users.userID' | translate }}</th>
          <th class="table-column">{{ 'cardNumbers.cardNumber' | translate }}</th>
          <th class="table-column">{{ 'books.borrowDate' | translate }}</th>
          <th class="table-column">{{ 'books.returnDate' | translate }}</th>
          <th class="table-column">{{ 'books.readyDate' | translate }}</th>
          <th class="table-column">{{ 'books.penalty' | translate }}</th>
          <th class="table-column">{{ 'books.affiliate' | translate }}</th>
          <th class="table-column">{{ 'books.ready' | translate }}</th>
          <th class="table-column">{{ 'books.accepted' | translate }}</th>
          <th class="table-column">{{ 'books.extended' | translate }}</th>
          <th class="table-column">{{ 'books.extension' | translate }}</th>
          <th class="table-column">{{ 'books.closed' | translate }}</th>
          <th class="table-column"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let borrowedBook of borrowedBooks.slice(pagination.getFirstItemIndex(currentPage, itemsPerPage), pagination.getLastItemIndex(currentPage, itemsPerPage, borrowedBooks) + 1)">

          <td class="table-cell">
            {{ borrowedBook.id }}
          </td>
          <td class="table-cell">
            {{ borrowedBook.bookId }}
          </td>
          <td class="table-cell">
            <a [routerLink]="['/administration/users']" [queryParams]="{ userId: borrowedBook.userId }">
              {{ borrowedBook.userId }}
            </a>
          </td>
          <td class="table-cell">
            <a [routerLink]="['/administration/card-numbers']"
              [queryParams]="{ cardNumber: borrowedBook.cardNumber }">{{
              borrowedBook.cardNumber }}</a>
          </td>
          <td class="table-cell">
            {{ borrowedBook.borrowDate === null ? '━' : borrowedBook.borrowDate }}
          </td>
          <td class="table-cell">
            {{ borrowedBook.returnDate === null ? '━' : borrowedBook.returnDate }}
          </td>
          <td class="table-cell">
            {{ borrowedBook.readyDate === null ? '━' : borrowedBook.readyDate }}
          </td>
          <td class="table-cell">
            {{ borrowedBook.penalty }}
          </td>
          <td class="table-cell">
            {{ borrowedBook.affiliateEntity.name }}
          </td>
          <td class="table-cell">
            {{ borrowedBook.ready ? ('common.yes' | translate) : ('common.no' | translate) }}
          </td>
          <td class="table-cell">
            {{ borrowedBook.accepted ? ('common.yes' | translate) : ('common.no' | translate) }}
          </td>
          <td class="table-cell">
            {{ !isBorrowedBookRequestedForExtension(borrowedBook.borrowDate, borrowedBook.returnDate,
            borrowedBook.extended) && borrowedBook.extended ? ('common.yes' | translate) : ('common.no' | translate) }}
          </td>
          <td class="table-cell">
            {{ isBorrowedBookRequestedForExtension(borrowedBook.borrowDate, borrowedBook.returnDate,
            borrowedBook.extended) ? ('common.yes' | translate) : ('common.no' | translate) }}
          </td>
          <td class="table-cell">
            {{ borrowedBook.closed ? ('common.yes' | translate) : ('common.no' | translate) }}
          </td>

          <td class="table-cell">
            <a class="nav-item">

              <li class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                {{ 'common.options' | translate }}
              </li>

              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <button class="dropdown-item" [routerLink]="['/books/' + borrowedBook.bookId]">{{
                  'books.showInCatalogue' | translate }}</button>
                <button class="dropdown-item" [disabled]="borrowedBook.ready || borrowedBook.closed"
                  (click)="openModalByType('ready'); borrowedBookId = borrowedBook.id">{{ 'books.readyOrder' | translate
                  }}</button>
                <button class="dropdown-item" [disabled]="borrowedBook.ready || borrowedBook.closed"
                  (click)="openModalByType('reject'); borrowedBookId = borrowedBook.id">{{ 'books.rejectOrder' |
                  translate }}</button>
                <button class="dropdown-item"
                  [disabled]="borrowedBook.accepted || borrowedBook.closed || !borrowedBook.ready"
                  (click)="openModalByType('accept'); borrowedBookId = borrowedBook.id; borrowedBookCardNumber = borrowedBook.cardNumber">{{
                  'books.acceptOrder' | translate }}</button>
                <button class="dropdown-item"
                  [disabled]="!isBorrowedBookRequestedForExtension(borrowedBook.borrowDate, borrowedBook.returnDate, borrowedBook.extended) && borrowedBook.extended || borrowedBook.closed || !borrowedBook.accepted"
                  (click)="redirectToExtendBorrowedBookForm(borrowedBook.id)">{{ 'books.extendBook' | translate
                  }}</button>
                <button class="dropdown-item"
                  [disabled]="borrowedBook.closed || !borrowedBook.accepted || !borrowedBook.ready"
                  (click)="openModalByType('return'); borrowedBookId = borrowedBook.id; borrowedBookCardNumber = borrowedBook.cardNumber">{{
                  'books.returnBook' | translate }}</button>
              </div>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <p class="item-not-found-label text-danger" *ngIf="borrowedBookNotFound">{{ 'orderedAndBorrowedBooks.noOrdersFound' |
      translate }}</p>

  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayReadyModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body modal-text">
        <p>{{ 'orderedAndBorrowedBooks.readyOrderWarning' |
          translate }}</p>
      </div>
      <button type="button" class="btn button modal-button" (click)="updateOrderReadyStatus(borrowedBookId, true)">{{
        'books.readyOrder' |
        translate }}</button>
      <button type="button" class="btn button modal-button" (click)="onCloseHandled()">{{ 'common.cancel' |
        translate }}</button>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayRejectModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body modal-text">
        <p>{{ 'orderedAndBorrowedBooks.rejectOrderWarning' |
          translate }}</p>
      </div>
      <button type="button" class="btn button modal-button" (click)="updateOrderReadyStatus(borrowedBookId, false)">{{
        'books.rejectOrder' |
        translate }}</button>
      <button type="button" class="btn button modal-button" (click)="onCloseHandled()">{{ 'common.cancel' |
        translate }}</button>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayAcceptModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body modal-text">
        <p>{{ 'orderedAndBorrowedBooks.acceptOrderWarning' |
          translate }}</p>
      </div>
      <button type="button" class="btn button modal-button"
        (click)="acceptOrder(borrowedBookId, borrowedBookCardNumber)">{{ 'books.acceptOrder' |
        translate }}</button>
      <button type="button" class="btn button modal-button" (click)="onCloseHandled()">{{ 'common.cancel' |
        translate }}</button>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayReturnModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body modal-text">
        <p>{{ 'orderedAndBorrowedBooks.returnBookWarning' |
          translate }}</p>
      </div>
      <button type="button" class="btn button modal-button"
        (click)="returnBook(borrowedBookId, borrowedBookCardNumber)">{{ 'books.returnBook' |
        translate }}</button>
      <button type="button" class="btn button modal-button" (click)="onCloseHandled()">{{ 'common.cancel' |
        translate }}</button>
    </div>
  </div>
</div>