<div class="book-details-form">
    <div class="book-details-form-box">

        <div class="details-buttons">
            <h1>{{bookDetails.title}}</h1>
            <div>
                <button (click)="redirectToOrderForm()" [disabled]="!booksOnStock" class="btn button detail-button">{{
                    'books.borrowBook' | translate }}</button>
                <button (click)="addToFavourites()" *ngIf="!isFavourite" class="btn button detail-button">{{
                    'books.addToFavourites' | translate }}</button>
                <button (click)="removeFromFavourites()" *ngIf="isFavourite" class="btn button detail-button">{{
                    'books.removeFromFavourties' | translate }}</button>
            </div>
        </div>

        <div class="divider">
            <hr class="my-3">
        </div>

        <div *ngIf="bookDetails">

            <div class="row">
                <div class="col">
                    <p>{{bookDetails.publisherEntity.name}}, {{bookDetails.yearOfPrintEntity.yearOfPrint}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p><strong>{{ 'books.authors' | translate }}:</strong></p>
                    <ul>
                        <li *ngFor="let author of bookDetails.authors">
                            {{author.name}}
                        </li>
                    </ul>
                </div>

                <div class="col">
                    <p><strong>{{ 'books.genres' | translate }}:</strong></p>
                    <ul>
                        <li *ngFor="let genre of bookDetails.genres">
                            {{genre.name}}
                        </li>
                    </ul>
                </div>

                <div class="col">
                    <p><strong>{{ 'books.quantity' | translate }}:</strong></p>
                    <ul>
                        <li *ngFor="let affiliate of bookDetails.affiliates">
                            {{ affiliate.name }} {{ commonBookMethodsService.getAffiliateBookQuantity(bookDetails,
                            affiliate.id) }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p><strong>{{ 'books.affiliates' | translate }}:</strong></p>
                    <ul>
                        <li *ngFor="let affiliate of bookDetails.affiliates">
                            {{affiliate.name}}
                            <ul>
                                <li>{{ 'books.address' | translate }}: {{affiliate.address}}</li>
                                <li>{{ 'books.phoneNumber' | translate }}: {{affiliate.phoneNumber}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="divider">
                <hr class="my-3">
            </div>

            <strong>{{ 'books.synopsis' | translate }}:</strong>
            <p class="synopsis-paragraph">
                {{bookDetails.description}}
            </p>
        </div>

    </div>
</div>