<form name="form" (ngSubmit)="remindPassword()" #passwordReminderForm="ngForm">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required>
        <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
            <div *ngIf="username?.errors?.['required']">Username is required</div>
        </div>
    </div>
    <div>

        <div>
            <label for="cardNumber">Card number</label>
            <input appNumericOnly type="text" name="cardNumber" [(ngModel)]="model.cardNumber" #cardNumber="ngModel" required minlength="10" maxlength="10" pattern="^[0-9]+$">
            <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched)">
                <div *ngIf="cardNumber?.errors?.['required']">Card number is required</div>
                <div *ngIf="cardNumber?.errors?.['minlength']">Invalid card number length</div>
                <div *ngIf="cardNumber?.errors?.['maxlength']">Invalid card number length</div>
                <div *ngIf="cardNumber.errors?.['pattern']">Invalid card number format</div>
            </div>
        </div>
    </div>
    <div>
        <button [disabled]="!passwordReminderForm.valid">Send password reminder</button>
        <div *ngIf="authenticationError">Unable to authenticate with provided card number</div>
    </div>
</form>

<div *ngIf="authenticatedSuccessfully">A new password reminder mail message has been sent</div>
<button (click)="commonRedirectsService.redirectToLoginForm()">Back to login page</button>