<div class="password-reminder-form">

    <img class="image" src="assets\libsystem-logo.jpg" alt="Image">
    <h1>Libsystem</h1>

    <div class="password-reminder-form-box">
        <form name="form" (ngSubmit)="remindPassword()" #passwordReminderForm="ngForm" class="form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required
                    class="form-control text-input">
                <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                    <div *ngIf="username?.errors?.['required']" class="text-danger">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="cardNumber">Card number</label>
                <input appNumericOnly type="text" name="cardNumber" [(ngModel)]="model.cardNumber" #cardNumber="ngModel"
                    required minlength="10" maxlength="10" class="form-control text-input">
                <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched)">
                    <div *ngIf="cardNumber?.errors?.['required']" class="text-danger">Card number is required</div>
                    <div *ngIf="cardNumber?.errors?.['minlength']" class="text-danger">Invalid card number length
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button [disabled]="!passwordReminderForm.valid" class="btn button">Send password reminder</button>
            </div>
            <div class="form-group">
                <div *ngIf="authenticationError" class="text-danger">Card number unauthenticated</div>
            </div>
            <div class="form-group">
                <div *ngIf="userNotEnabled" class="text-danger">Account is currently disabled</div>
            </div>
        </form>

        <div class="message-container">
            <div *ngIf="authenticatedSuccessfully" class="text-success">Reminder has been sent</div>
        </div>

        <div class="divider">
            <hr class="my-3">
        </div>

        <div class="form-group">
            <button (click)="commonRedirectsService.redirectToLoginForm()" class="btn button redirect-buttons">Back to login
                page</button>
        </div>
    </div>
</div>