<div class="container table-form">
  <div class="table-form-box">

    <p class="text-success" *ngIf="bookExtended">{{ 'books.extensionSuccess' | translate }}</p>

    <h1>{{ 'books.yourBooks' | translate }}</h1>

    <div class="divider">
      <hr class="my-3">
    </div>

    <div class="row">
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="table-order-buttons" role="group">
          <button class="btn button" [disabled]="displayedStatus == 'Ordered'"
            (click)="setDisplayedStatus('Ordered')">{{ 'books.ordered' | translate }}</button>
          <button class="btn button" [disabled]="displayedStatus == 'Borrowed'"
            (click)="setDisplayedStatus('Borrowed')">{{ 'books.borrowed' | translate }}</button>
          <button class="btn button" [disabled]="displayedStatus == 'Returned'"
            (click)="setDisplayedStatus('Returned')">{{ 'books.returned' | translate }}</button>
          <button class="btn button" [disabled]="displayedStatus == 'Rejected'"
            (click)="setDisplayedStatus('Rejected')">{{ 'books.rejected' | translate }}</button>
          <button class="btn button" [disabled]="displayedStatus == 'Ready'" (click)="setDisplayedStatus('Ready')">{{
            'books.ready' | translate }}</button>
          <button class="btn button" [disabled]="displayedStatus == 'All'" (click)="setDisplayedStatus('All')">{{
            'common.all' | translate }}</button>
        </div>

        <div class="pagination-container">
          <nav>
            <ul class="pagination">
              <li class="page-item">
                <button [disabled]="currentPage === 1" class="btn button pagination-button"
                  (click)="onPageChange(currentPage - 1)">←</button>
              </li>
              <li class="page-item">
                <button [disabled]="currentPage === pagination.getTotalPages(books, itemsPerPage)"
                  class="btn button pagination-button" (click)="onPageChange(currentPage + 1)">→</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <table class="table table-hover common-table">
      <thead>
        <tr>
          <th class="table-column">{{ 'books.orderNumber' | translate }}</th>
          <th class="table-column">{{ 'books.title' | translate }}</th>
          <th class="table-column">{{ 'books.borrowDate' | translate }}</th>
          <th class="table-column">{{ 'books.returnDate' | translate }}</th>
          <th class="table-column">{{ 'books.readyDate' | translate }}</th>
          <th class="table-column">{{ 'books.remainingDays' | translate }}</th>
          <th class="table-column">{{ 'books.penalty' | translate }}</th>
          <th class="table-column">{{ 'books.affiliate' | translate }}</th>
          <th class="table-column">{{ 'books.status' | translate }}</th>
          <th class="table-column">{{ 'books.extended' | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let book of books.slice(pagination.getFirstItemIndex(currentPage, itemsPerPage), pagination.getLastItemIndex(currentPage, itemsPerPage, books) + 1)">
          <ng-container *ngIf="book.status == displayedStatus || displayedStatus == 'All'">
            <td class="table-cell">
              {{ book.borrowedBookId }}
            </td>
            <td class="table-cell" width=auto>
              {{ book.title.length > 30 ? (book.title | slice:0:30) + '...' : book.title }}
            </td>
            <td class="table-cell">
              {{ book.borrowDate === '' ? '━' : book.borrowDate }}
            </td>
            <td class="table-cell">
              {{ book.returnDate === '' ? '━' : book.returnDate }}
            </td>
            <td class="table-cell">
              {{ book.readyDate === '' || book.readyDate === null ? '━' : book.readyDate }}
            </td>
            <td class="table-cell">
              <span [ngClass]="{
                'text-danger': getRemainingDays(book.returnDate) <= 0 && book.status !== 'Returned'
              }">
                {{ book.status !== 'Borrowed' ? '━' : getRemainingDays(book.returnDate) <= 0 ? ('books.overdue' |
                  translate) : getRemainingDays(book.returnDate) }} </span>
            </td>
            <td class="table-cell">
              {{ book.penalty === '' ? '━' : book.penalty }}
            </td>
            <td class="table-cell" width="auto">
              {{ book.affiliate }}
            </td>
            <td class="table-cell">
              {{ this.translation.translateStatus(book.status) }}
            </td>
            <td class="table-cell">
              {{ book.extended ? ('common.yes' | translate) : ('common.no' | translate) }}
            </td>

            <td class="table-cell">
              <a class="nav-item">

                <li class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                  {{ 'common.options' | translate }}
                </li>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <button class="dropdown-item" [disabled]="book.extended || book.closed || !book.accepted"
                    (click)="openModal(); borrowedBookId = book.borrowedBookId">{{ 'books.extend' | translate
                    }}</button>
                  <button class="dropdown-item" [routerLink]="book.bookDetailsLink">{{ 'books.showInCatalogue' |
                    translate }}</button>
                </div>

              </a>
            </td>

          </ng-container>
        </tr>
      </tbody>
    </table>

    <p class="item-not-found-label text-danger" *ngIf="noBooksWithStatusFound">{{ 'books.noBooksFound' | translate }}
    </p>

  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body modal-text">
        <p>{{ 'books.extensionWarning' | translate }}</p>
      </div>
      <button type="button" class="btn button modal-button" (click)="requestBookExtension(borrowedBookId)">{{
        'books.extend' | translate }}</button>
      <button type="button" class="btn button modal-button" (click)="onCloseHandled()">{{ 'common.cancel' | translate
        }}</button>
    </div>
  </div>
</div>