.table-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-form-box {
    background-color: rgb(252, 252, 252);
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 2px 8px lightblue;
    margin-top: 45px;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 1380px;
    margin-bottom: 50px;
    min-height: 510px;
}

h1 {
    font-size: 20px;
    text-align: left;
}

.pagination-container {
    margin-right: 15px;
    margin-top: -10px;
}

hr {
    padding-bottom: 28px;
}

.nav-link:hover {
    color: black;
    background-color: inherit;
}

.dropdown-menu .dropdown-item:hover {
    background-color: lightblue;
    color: white;
}
