<div class="container table-form">
  <div class="table-form-box">

    <p class="text-success" *ngIf="bookExtended">Book extension request sent successfully - wait until the administrator
      extends the requested borrowed book return date</p>

    <h1>Your books</h1>

    <div class="divider">
      <hr class="my-3">
    </div>

    <div class="row">
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="table-order-buttons" role="group">
          <button class="btn button" [disabled]="displayedStatus == 'Ordered'"
            (click)="setDisplayedStatus('Ordered')">Ordered</button>
          <button class="btn button" [disabled]="displayedStatus == 'Borrowed'"
            (click)="setDisplayedStatus('Borrowed')">Borrowed</button>
          <button class="btn button" [disabled]="displayedStatus == 'Returned'"
            (click)="setDisplayedStatus('Returned')">Returned</button>
          <button class="btn button" [disabled]="displayedStatus == 'Rejected'"
            (click)="setDisplayedStatus('Rejected')">Rejected</button>
          <button class="btn button" [disabled]="displayedStatus == 'Ready'"
            (click)="setDisplayedStatus('Ready')">Ready</button>
          <button class="btn button" [disabled]="displayedStatus == 'All'"
            (click)="setDisplayedStatus('All')">All</button>
        </div>

        <div class="pagination-container">
          <nav>
            <ul class="pagination">
              <li class="page-item">
                <button [disabled]="currentPage === 1" class="btn button pagination-button"
                  (click)="onPageChange(currentPage - 1)">←</button>
              </li>
              <li class="page-item">
                <button [disabled]="currentPage === pagination.getTotalPages(books, itemsPerPage)"
                  class="btn button pagination-button" (click)="onPageChange(currentPage + 1)">→</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <table class="table table-hover common-table">
      <thead>
        <tr>
          <th class="table-column">Order number</th>
          <th class="table-column">Title</th>
          <th class="table-column">Borrow date</th>
          <th class="table-column">Return date</th>
          <th class="table-column">Ready date</th>
          <th class="table-column">Remaining days</th>
          <th class="table-column">Current penalty</th>
          <th class="table-column">Affiliate</th>
          <th class="table-column">Status</th>
          <th class="table-column">Extended</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let book of books.slice(pagination.getFirstItemIndex(currentPage, itemsPerPage), pagination.getLastItemIndex(currentPage, itemsPerPage, books) + 1)">
          <ng-container *ngIf="book.status == displayedStatus || displayedStatus == 'All'">
            <td class="table-cell">
              {{ book.borrowedBookId }}
            </td>
            <td class="table-cell" width=auto>
              {{ book.title.length > 30 ? (book.title | slice:0:30) + '...' : book.title }}
            </td>
            <td class="table-cell">
              {{ book.borrowDate === '' ? '━' : book.borrowDate }}
            </td>
            <td class="table-cell">
              {{ book.returnDate === '' ? '━' : book.returnDate }}
            </td>
            <td class="table-cell">
              {{ book.readyDate === '' || book.readyDate === null ? '━' : book.readyDate }}
            </td>
            <td class="table-cell">
              <span [ngClass]="{
                'text-danger': getRemainingDays(book.returnDate) <= 0 && book.status !== 'Returned'
              }">
                {{ book.status !== 'Borrowed' ? '━' : getRemainingDays(book.returnDate) <= 0 ? 'Overdue' :
                  getRemainingDays(book.returnDate) }} </span>
            </td>
            <td class="table-cell">
              {{ book.penalty === '' ? '━' : book.penalty }}
            </td>
            <td class="table-cell" width="auto">
              {{ book.affiliate }}
            </td>
            <td class="table-cell">
              {{ book.status }}
            </td>
            <td class="table-cell">
              {{ book.extended ? 'Yes' : 'No' }}
            </td>

            <td class="table-cell">
              <a class="nav-item">

                <li class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                  Options
                </li>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <button class="dropdown-item" [disabled]="book.extended || book.closed || !book.accepted"
                    (click)="openModal(); borrowedBookId = book.borrowedBookId">Extend</button>
                  <button class="dropdown-item" [routerLink]="book.bookDetailsLink">Show in catalogue</button>
                </div>

              </a>
            </td>

          </ng-container>
        </tr>
      </tbody>
    </table>

    <p class="item-not-found-label text-danger" *ngIf="noBooksWithStatusFound">No books found</p>

  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body modal-text">
        <p>Are you sure you want to send a return date extension request for this book? You can extend the borrowed book
          only once.</p>
      </div>
      <button type="button" class="btn button modal-button"
        (click)="requestBookExtension(borrowedBookId)">Extend</button>
      <button type="button" class="btn button modal-button" (click)="onCloseHandled()">Cancel</button>
    </div>
  </div>
</div>