<p>Borrow book {{ title }}</p>

<form name="form" (ngSubmit)="borrow()" #borrowForm="ngForm">
    <label for="affiliates">Choose affiliate</label>
    <select name="affiliates" [(ngModel)]="model.affiliate" required (change)="specifyQuantityForChosenAffiliate()">
        <ng-container *ngFor="let affiliateOptionForBook of affiliateOptionsForBook">
            <option [value]="affiliateOptionForBook.label">{{ affiliateOptionForBook.label }}</option>
        </ng-container>
    </select>

    <label for="quantity">Choose quantity</label>
    <select name="quantity" [(ngModel)]="model.quantity" required>
        <option *ngFor="let i of setQuantityRange(1, maxQuantity, 1)" [value]="i">{{ i }}</option>
    </select>

    <label for="cardNumber">Card number</label>
    <input appNumericOnly type="text" name="cardNumber" [(ngModel)]="model.cardNumber" #cardNumber="ngModel" required
        minlength="10" maxlength="10" pattern="^[0-9]+$">
    <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched)">
        <div *ngIf="cardNumber?.errors?.['required']">Card number is required</div>
        <div *ngIf="cardNumber?.errors?.['minlength']">Invalid card number length</div>
        <div *ngIf="cardNumber?.errors?.['maxlength']">Invalid card number length</div>
        <div *ngIf="cardNumber.errors?.['pattern']">Invalid card number format</div>
    </div>

    <div>
        <button type="submit" [disabled]="!borrowForm.valid">Borrow</button>
        <div *ngIf="bookOutOfStock">This book is currently out of stock</div>
        <div *ngIf="invalidCardNumber">Invalid card number</div>
        <div *ngIf="tooManyBooks">You have reached the limit of your ordered or borrowed books</div>
    </div>

</form>