<div class="change-password-form">
    <div class="change-password-form-box">
        <h1>{{ 'navigationMenu.changePassword' | translate }}</h1>
        <form name="form" (ngSubmit)="changePassword()" #newPasswordForm="ngForm">

            <div>
                <div class="form-group">
                    <label for="oldPassword">{{ 'credentials.oldPassword' | translate }}</label>
                    <input type="password" name="oldPassword" [(ngModel)]="model.oldPassword" #oldPassword="ngModel"
                        required class="form-control text-input">
                    <div *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)">
                        <div *ngIf="oldPassword?.errors?.['required']" class="text-danger">{{ 'credentials.oldPasswordRequired' | translate }}
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group">
                    <label for="newPassword">{{ 'credentials.newPassword' | translate }}</label>
                    <input type="password" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel"
                        required minlength="8" maxlength="25" class="form-control text-input">
                    <div *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)">
                        <div *ngIf="newPassword?.errors?.['required']" class="text-danger">{{ 'credentials.newPasswordRequired' | translate }}
                        </div>
                        <div *ngIf="newPassword?.errors?.['minlength']" class="text-danger">{{ 'credentials.passwordTooShort' | translate }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="!newPasswordForm.valid" class="btn button">{{ 'changePassword.setNewPassword' | translate }}</button>
            </div>

            <div class="message-container">
                <div *ngIf="passwordDuplicated" class="text-danger">{{ 'changePassword.newPasswordSameAsOld' | translate }}</div>
                <div *ngIf="oldPasswordNotMatching" class="text-danger">{{ 'changePassword.oldPasswordNotCorrect' | translate }}</div>
            </div>

        </form>

        <div class="message-container">
            <p *ngIf="newPasswordSet" class="text-success">{{ 'changePassword.newPasswordSet' | translate }}</p>
        </div>
    </div>
</div>