<div class="new-books-form">
  <div class="new-books-form-box">
    <div class="card-container">
      <h1>{{ 'home.recentlyAddedBooks' | translate }}</h1>

      <div class="card-group">
        <div class="card card-hover new-book-card" [routerLink]="'/books/' + newBook.bookId"
          *ngFor="let newBook of newBooks">
          <div class="card-body">

            <h5 class="card-title text-center">
              <a>{{ newBook.title.length > 25 ? (newBook.title | slice:0:25) + '...' : newBook.title }}</a>
            </h5>

            <p class="card-text text-center new-book-card-element">{{ newBook.authors.length > 25 ? (newBook.authors |
              slice:0:25) + '...' : newBook.authors }}</p>

            <div class="divider">
              <hr class="my-3">
            </div>

            <p class="card-text text-center new-book-card-element">{{ newBook.genres.length > 25 ? (newBook.genres |
              slice:0:25) + '...' : newBook.genres }}</p>

            <div class="divider">
              <hr class="my-3">
            </div>

            <p class="card-text text-center new-book-card-element">{{ newBook.publisher.length > 20 ? (newBook.publisher
              |
              slice:0:20) + '...' : newBook.publisher }}</p>

            <div class="divider">
              <hr class="my-3">
            </div>

            <p class="card-text text-center new-book-card-element">{{ newBook.yearOfPrint }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>