<div *ngIf="tokenExpired" class="new-password-form">
    <div class="new-password-form-box">
        <div class="message-container">
            <p class="text-danger">The password reset link has expired</p>
        </div>
    </div>
</div>

<div *ngIf="tokenVerified && !tokenExpired" class="new-password-form">

    <img class="image" src="assets\libsystem-logo.jpg" alt="Image">
    <h1>Libsystem</h1>

    <div class="new-password-form-box">
        <form name="form" (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required
                    minlength="8" maxlength="25" class="form-control text-input">
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                    <div *ngIf="password?.errors?.['required']" class="text-danger">Password is required</div>
                    <div *ngIf="password?.errors?.['minlength']" class="text-danger">Provided password is too short
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn button" type="submit" [disabled]="!resetPasswordForm.valid || passwordReset">Reset
                    password</button>
            </div>
        </form>

        <div class="message-container">
            <div *ngIf="passwordReset" class="text-success">The password has been reset</div>
        </div>

        <div class="divider">
            <hr class="my-3">
        </div>

        <div class="form-group">
            <button *ngIf="tokenVerified" (click)="commonRedirectsService.redirectToLoginForm()"
                class="btn button redirect-buttons">Back
                to login
                page</button>
        </div>
    </div>
</div>