<p *ngIf="tokenExpired">The password reset link has expired</p>

<div *ngIf="tokenVerified">
    <form name="form" (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required
                minlength="8" maxlength="25">
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <div *ngIf="password?.errors?.['required']">Password is required</div>
                <div *ngIf="password?.errors?.['minlength']">The password must be between 8 and 25 characters long</div>
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="!resetPasswordForm.valid">Reset password</button>
        </div>
    </form>
</div>

<div *ngIf="passwordReset">The password has been successfully reset</div>
<button *ngIf="tokenVerified" (click)="commonRedirectsService.redirectToLoginForm()">Back to login page</button>