<div class="user">
    <div class="user-box">
        <div *ngIf="userDetails">
            <h1>{{ 'userDetails.userDetails' | translate }}</h1>
            <p>{{ 'credentials.username' | translate }}: <b>{{userDetails[0]}}</b></p>

            <div class="divider">
                <hr class="my-3">
            </div>

            <p>{{ 'credentials.firstName' | translate }}: <b>{{userDetails[1]}}</b></p>

            <div class="divider">
                <hr class="my-3">
            </div>

            <p>{{ 'credentials.lastName' | translate }}: <b>{{userDetails[2]}}</b></p>

            <div class="divider">
                <hr class="my-3">
            </div>

            <p>{{ 'credentials.cardNumber' | translate }}: <b>{{userDetails[3]}}</b></p>

            <div class="divider">
                <hr class="my-3">
            </div>

            <p>{{ 'userDetails.borrowedBooks' | translate }}: <b>{{userDetails[4]}}/10</b></p>

            <div class="divider">
                <hr class="my-3">
            </div>

            <p>{{ 'userDetails.orderedBooks' | translate }}: <b>{{userDetails[5]}}/10</b></p>
        </div>
    </div>
</div>