<p>User profile</p>

<nav>
    <ul>
        <li><a href="/user-profile/books">Your books</a></li>
        <li><a href="/user-profile/favourites">Favourites</a></li>
        <li><a href="/user-profile/change-password">Change password</a></li>
    </ul>
</nav>

<div *ngIf="userDetails">
    <p>User profile details</p>
    <p>Username: {{userDetails[0]}}</p>
    <p>First name: {{userDetails[1]}}</p>
    <p>Last name: {{userDetails[2]}}</p>
    <p>Card number: {{userDetails[3]}}</p>
    <p>Borrowed books: {{userDetails[4]}}/10</p>
    <p>Ordered books: {{userDetails[5]}}/10</p>
</div>
