Your favourite books
<table>
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let favouriteBook of favouriteBooks">
        <td>
            <a [routerLink]="'/books/' + favouriteBook.bookId">{{ favouriteBook.title }}</a> by
        </td>
        <td>
            <a>{{ favouriteBook.authors }}</a>
        </td>
      </tr>
    </tbody>
</table>

<p *ngIf="favouriteBooks.length === 0">Your list of favourite books is currently empty</p>